.table {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    display: table;
    border-collapse: collapse;
    width: 550px;
}

table, th, td {
    border: 0.5px solid black;
    padding: 8px;
  }

th {
    color: salmon;
}

.header {
    text-align: center;
    font-size: xx-large;
    background-color: salmon;
    padding: 50px;
    margin-bottom: 20px;
}

.searchDiv{
    padding: 15px;
    line-height: 100px;
    font: x-large;
    padding: 5px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

.input {
    position: relative;
    margin: 0 auto;
    display: block;
    padding: 10px 1px 10px 5px;
    width: 550px
}

.sortButton {
    color: salmon;
    margin-left: 8px;
    background-color: white;
    border-radius: 0.5rem;
    padding: 4px
}

.sortButton:hover {
    background-color: black;
}